.searchFrame {
  margin-bottom: 5%;
}

.showDetails {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  background-color: white;
  border-radius: 5%;
  padding: 5%;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
}
