.searchFrame {
  margin-bottom: 2%;
}

.showDetails {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  background-color: white;
  padding: 5%;
}

.buttonPosition {
  display: flex;
  flex-direction: column;
}
